*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #f3f3f3;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    font-size: 12px;
    padding: 30px;
}

html, body, .container{
    height: 100%;
    background-color: #121212;
}

.container{
    border-radius: 20px;
    line-height: 30px;
    color: #d8d8d8;
}

input{
    height: 40px;
    width: 400px;
    padding: 0px 5px;
    background-color: #272626;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    color: #d8d8d8;
    border: .5px solid #2d2d2d;
}

::-webkit-input-placeholder{
    color: #777777;
}

input::-moz-placeholder{
    color: #777;
}

.dropDown{
    width: 400px;
    background-color: #272626;
    border-radius: 5px;
    margin-top: 10px;
    border: .5px solid #2d2d2d;
    height: 90px;
    overflow: auto;
    display: none;
    transform: translate(0px, -10px);
}

::-webkit-scrollbar{
    background-color: #1d1d1d;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #5b5b5b;
    border-radius: 5px;
}

.item{
    height: 30px;
    padding: 0px 5px;
    box-sizing: border-box;
    transition: .3s;
    cursor: pointer;
}

.item:hover{
    background-color: #121212;
    padding-left: 7px;
    transition: .3s;
}