*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background: #e9e9e9;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    background: #fff;
    border-bottom: 1.5px solid #9b9b9b;
    border-radius: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h1{
    font-size: 25px;
    color: #797979;
}

#btn-place{
    position: absolute;
    right: 10px;
}

#btn-place button{
    width: 125px;
    height: 38px;
    border: 0 solid;
    font-size: 19px;
    color: #f1f1f1;
    margin-right: 20px;
}

#btn-apagar{
    background-color: rgb(226, 69, 69);
    
}

#btn-salvar{
    background-color: rgb(25, 163, 25);
}

#campos-place{
    border-top: 3px solid rgba(199, 199, 199, 0.5);
    width: 100%;
    height: 255px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 32px;
}

.campo{
    width: 265px;
    height: 155px;
}

#categorias{
    background-color: rgb(226, 69, 69);
}

#marcas{
    background-color: #ebac37;
}

#produtos{
    background-color: #0077ffa8;
}

#produtos-exp{
    background-color: rgb(25, 163, 25);
}

.icon-place, .title-place, .number-place{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-place{
    width: 43%;
    height: 100%;
    float: left;
    border-right: 1px solid #e9e9e9;
}

.number-place{
    border-bottom: 1px solid #e9e9e9;
}

.title-place, .number-place{
    width: 57%;
    height: 50%;
}

.icon-place i{
    color: #fff;
    font-size: 25px;
}

#form-place{
    border-top: 3px solid 0;
    width: 100%;
    height: 215px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 32px;
}

div.animation{
    height: 3px;
    width: 100%;
    background-color: #0065fca4;
}

.form{
    width: 580px;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h3{
    text-align: center;
    padding: 13px;
    width: 100%;
    margin-bottom: 14px;
    background-color: #108e9e;
    color: #f1f1f1;
}

.inputs-place{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inicio-input-place, .final-input-place{
    display: flex;
    flex-direction: row;
}

.form-btn{
    width: 120px;
    height: 44px;
    border: 0 solid;
    font-size: 12px;
    color: #f1f1f1;
}

.btn-inicio{
    background-color: rgb(226, 69, 69);
}

.btn-final{
    background-color: rgb(25, 163, 25);
}

.inputs-place input{
    width: 130px;
    height: 44px;
    border: 0 solid;
}

#prod-place{
    padding: 30px 10px 0px 10px;
}

#title-place{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title-place h1{
    background-color: #ebac37;
    color: #f1f1f1;
    padding: 15px 40px;
}

#table-place{
    background-color: #fff;
    margin-top: -27.5px;
    width: 100%;
    height: 530px;
    padding: 100px;
}

#table .row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#table .row .col-title:nth-child(1){
    border-left: 0;
}

#table .row .col-title{
    border-left: 2px solid #797979;
    width: 500px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    color: #3a3a3a;
}

#table .row .col{
    width: 500px;
    border-bottom: .1px solid #797979;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    color: #797979;
}